<h5>Update:</h5>
<h1><%= @cocktail.name %></h1>
<hr>
<!-- Cocktail details card: 1. Ingredients, 2. description and 3. update links -->
<div class="card mt-3 shadow-lg">
  <div class="card-body">

    <!-- 2. Ingredients form/list -->
    <div class="card">
      <h5 class="card-header">Edit Ingredients</h5>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Mix it up a little bit more!</h6>
        <%= render 'shared/ingredient_button_list' %>
        <% @page_origin = 'update_cocktail' %>
        <%= render 'shared/dose_form_modal' %>
      </div>
    </div>
<!--     </div> -->
    <%= render 'shared/cocktail_form'%>


  </div>
</div>
<!-- Link back to the cocktails index -->
<div class="mt-3">
  <%= link_to "Back to Cocktail", cocktail_path(@cocktail) %>
</div>
