<% if @cocktails.empty? %>
  <div class="col-12 vh-100">
    <h3>No cocktails here... 😭</h3>
    <%= link_to 'Add A Cocktail ', new_cocktail_path %>
  </div>
<% else %>
  <% @cocktails.each do |cocktail| %>
    <div class="col-lg-4 mb-4">
      <div class="card" style="width: auto;">

        <div class="card-img-top cocktail-card-image overflow-hidden">
          <!-- Image block -->
          <div class="cocktail-image">
            <%= image_tag cocktail[:image_url], :class => "img-fluid" %>
          </div>
          <!-- Ingredients overlay -->
          <div class="cocktail-card-overlay">
            <h4>Ingredients</h4>
            <% cocktail.doses.each do |dose| %>
              <div class="ingredient-label"> • <%= dose.description %> <%= dose.ingredient.name %> </div>
            <% end %>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title"> <%= cocktail.name %> </h5>
          <p class="card-text"> <%= cocktail.description %> </p>
          <!-- <a href="#" class="btn btn-outline-primary">Go somewhere</a> -->
          <%= link_to 'View Cocktail', cocktail_path(cocktail), :class => "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
