<!-- Will show custom div if there are no cocktails in the database -->
<% if @cocktails.empty? %>
  <!-- Full column with empty message -->
  <div class="col-12 vh-100">
    <h3>No cocktails here... 😭</h3>
    <%= link_to 'Add A Cocktail ', new_cocktail_path %>
  </div>
<% else %>
  <!-- Rendering a card for each cocktail -->
  <% @cocktails.each do |cocktail| %>
    <!-- Card will be contained in a 4 columns on large screens -->
    <div class="col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1500">
      <div class="card" style="width: auto;">
        <!-- CArd top element containing the image and an overlay -->
        <div class="card-img-top cocktail-card-image overflow-hidden">
          <!-- Image block -->
          <div class="cocktail-image">
            <%#= image_tag cocktail[:image_url], :class => "img-fluid" %>
            <%= cl_image_tag cocktail.photo.key, height: 500, width: 500, crop: :fill, :class => "img-fluid" %>
          </div>
          <!-- Ingredients overlay -->
          <div class="cocktail-card-overlay">
            <h4>Ingredients</h4>
            <% cocktail.doses.each do |dose| %>
              <div class="ingredient-label"> • <%= dose.description %> <%= dose.ingredient.name %> </div>
            <% end %>
          </div>
        </div>
        <!-- Card body section containing the cocktail name, description and a button to show cocktail -->
        <div class="card-body">
          <h5 class="card-title"> <%= cocktail.name %> </h5>
          <p class="card-text"> <%= cocktail.description %> </p>
          <%= link_to 'View Cocktail', cocktail_path(cocktail), :class => "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
